@import '../../util/css/mixins/respond';

.AboutBackground{
    background-image: linear-gradient(
        to right bottom,
        rgba(white, 0.8),
        rgba(white, 0.8)),
        url('../../../resources/images/background.JPG');
    background-size: cover;
    background-position: 50% 50%;

    @include respond('phone'){
        background-image: linear-gradient(
        to right bottom,
        rgba(white, 0.8),
        rgba(white, 0.8)),
        url('../../../resources/images/background-small.JPG');
        background-position: 50% 50%;
    }
}

.About{
    padding-top: 5rem;
    padding-bottom: 2rem;

    &Avatar{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }

    &Content{
        display: flex;
        align-items: center;
    }
}