@import '../../util/css/variables.scss';
@import '../../util/css/mixins/respond';

.AboutContent{
    font-family: 'Roboto Mono', monospace sans-serif;
    font-size: 1.15rem;

    @include respond('tab-port'){
        font-size: 1rem;
    }
}

