@import '../../../resources/css/variables.scss';

.stickyWrapper {
    position: relative;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
  
    .stickyInner {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
}

.header{
    border-bottom: $color-primary 3px solid;
    opacity: .3;
  }