@import '../../../resources/css/variables.scss';
@import '../../../resources/css/mixins/transition';

.stickyWrapper {
    position: relative;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
  
    .stickyInner {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
}

.Header{
    border-bottom: $color-primary 3px solid;
    font-size: 1.8rem !important;
    font-family: 'Righteous', cursive;
    background-color: $color-secondary;
    
    &Button{
      color: white !important;
      padding-bottom: 0.5rem;
      @include transition(all 0.5s);

      div{
        float: left;
      }

      &:hover,
      &:visited{
        .HeaderButtonLetter:nth-child(1){
          color: $color-primary !important;
        }
        
      }
    };

  }

  .navbar-toggler-icon{
    color: $color-tertiary !important;
  }