@import '../../../resources/css/variables.scss';

.stickyWrapper {
    position: relative;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
  
    .stickyInner {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
}

.Header{
    border-bottom: $color-tertiary 3px solid;
    font-size: 1.5rem !important;
    font-family: 'Righteous', cursive;
    background-color: $color-secondary;
    
    &Button{
      color: $color-tertiary !important;
    };
  }