@import '../../util//css/mixins/respond';
@import '../../util//css/mixins/transition';
@import '../../util//css/variables.scss';

.ContactContainer{
    position: relative;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.Contact{
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.Form{
    margin-top: 3rem;

    &Submit{
        @include transition(0.5s all);
        display: flex;
        margin-top: 2rem;
        margin-left: auto;
        border: 1px solid $color-primary;
        color: $color-primary;
        background-color: #222222;
        border-radius: 0;
        letter-spacing: 3px;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary 50%);
        background-size: 230%;

        &:hover{
            color: #222222;
            background-position: 100%;
        }
    }

}