@import '../../../util/css/variables.scss';
@import '../../../util/css/mixins/respond';
@import '../../../util/css/mixins/transition';

.Idea{
    position: relative;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background: radial-gradient(ellipse at bottom, $color-primary 0%, #c99b69 100%);
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem auto;
    @include transition(0.5s all ease-in-out);
    @include rotateY(180deg);
    opacity: 0;

    @include respond('tab-land'){
        width: 150px;
        height: 150px;
    }

    @include respond('phone'){
        width: 100px;
        height: 100px;
    }
}
