@import '../../util/css/variables.scss';

.WorkItem{

    .Item{
        display: block;
        user-select: none;
        margin: 120px 0;
    
        .Name{
            font-size: 100px;
            text-decoration: none;
            color: #1B2735;
            font-family: 'Cosi Azure';
        }
    
        span{
            position: relative;
            display: block;
            overflow: hidden;
    
            &::before{
            top: 0;
            left: 0;
            width: 0;
            color: $color-primary;
            overflow: hidden;
            position: absolute;
            content: attr(data-text);
            transition: all 1s cubic-bezier(0.84, 0 , 0.08, 0.99); 
            }
    
            &:hover::before{
            width: 100%;
            }
        }
    }
}