@import '../../util/css/variables.scss';
@import '../../util/css/mixins/transition';

.Works{
    padding-top: 5rem;
    padding-bottom: 1rem;
    background: white;

    .WorkItemContainer{
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
}