@import '../../util/css/variables.scss';
@import '../../util/css/mixins/respond';

.WorkItem{

    .Item{
        margin-bottom: 4rem;

        .Name{
            font-size: 7rem;
            text-decoration: none;
            color: #1B2735;
            font-family: 'Cosi Azure';
            span{
                position: relative;
                overflow: hidden;
                display: block;
        
                &::before{
                    top: 0;
                    left: 0;
                    width: 0;
                    color: $color-primary;
                    overflow: hidden;
                    position: absolute;
                    content: attr(data-text);
                    transition: all 1s cubic-bezier(0.84, 0 , 0.08, 0.99); 
                }
            }

            @include respond('desktop'){
                font-size: 6rem;
            }

            @include respond('tab-land'){
                font-size: 5rem;
            }

            @include respond('tab-port'){
                font-size: 4rem;
            }

            @include respond('phone'){
                font-size: 2.8rem;
            }
        }

        .Picture{
            width: 100%;
            background: url(../../../resources/images/works/image_not_availble.png) no-repeat 50% 50%;
            background-size: 100% 100%;
            overflow: hidden;
            z-index: 10000;
            height: 500px;

            @include respond('desktop'){
                height: 450px;
            }
            @include respond('tab-land'){
                height: 400px;
            }
            @include respond('tab-port'){
                height: 300px;
            }
            @include respond('phone'){
                height: 220px;
            }
        }

        &:hover .Name span::before{
            width: 100%;
        }
    }
    
}