@import '../../util/css/variables.scss';

.WorkItem{

    .ItemPreview{
        position: fixed;
        top: 12%;
        left: 50%;
        width: 0;
        height: 400px;
        background: url(../../../resources/images/background.JPG) no-repeat 50% 50%;
        background-size: cover;
        overflow: hidden;
        z-index: 10000;
    }

    .Item{
        display: block;
        user-select: none;
        margin: 120px 0;
    
        .Name{
            font-size: 100px;
            text-decoration: none;
            color: #1B2735;
            font-family: 'Cosi Azure';
        }
    
        span{
            position: relative;
            display: block;
            overflow: hidden;
    
            &::before{
            top: 0;
            left: 0;
            width: 0;
            color: $color-primary;
            overflow: hidden;
            position: absolute;
            content: attr(data-text);
            transition: all 1s cubic-bezier(0.84, 0 , 0.08, 0.99); 
            }
    
            &:hover::before{
            width: 100%;
            }
        }
    }
}