@import '../../util/css/variables.scss';
@import '../../util/css/mixins/transition';

.Footer{
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    min-height: 10rem;
    position: relative;

    &RollBackButton{
        position: absolute;
        display: flex;
        width: 4rem;
        height: 4rem;
        background: $color-primary;
        left: 50%;
        cursor: pointer;
        @include translateXY(-50%, -50%);

        &Svg{
            width: 100%;
            height: 100%;
            background: transparent;
            display: flex;
        }

        &:hover{
            .FooterRollBackButtonSvg{
                animation: bounceRollbackButton 1s infinite linear;
            }
        }
    }

    &IconContainer{
        display: flex;
        padding-top: 4rem;
        justify-content: center;
    }

    &Icon{
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: white;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
    }
}

@keyframes bounceRollbackButton {
    0% {
        @include translateY(0rem);
    }

    25% {
        @include translateY(-0.3rem);
    }

    50% {
        @include translateY(0);
    }

    75% {
        @include translateY(0.3rem);
    }

    100% {
        @include translateY(0rem);
    }
}