@import './components/util/css/variables.scss';
@import './components/util/css/mixins/transition';

@font-face {
  font-family: 'Cosi Azure';
  src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Black-Stencil.otf) format('opentype');
}

@font-face {
    font-family: 'Cosi Azure';
    font-weight: 900;
    src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Cosi Azure';
    font-weight: 900;
    src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Bold.otf) format('opentype');
}

// import Boostrap and custom it
// change the theme
$theme-colors: (
  "primary": $color-primary,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
//end Bootstrap

body{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.navbar-toggler-icon{
  background-image: none !important;
  position: relative;
  width: 2rem;

  &,
  &::before,
  &::after {
    height: 2px;
    background-color: $color-primary;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    transition: all .2s;
  }

  &::before { 
    top: -.6rem; 
    width: 2.5rem;
    transition: 0.5s all;
  }

  &::after { 
    top: .6rem; 
    width: 1.5rem;
    transition: 0.5s all;
  }
}

.navbar-toggler{
  width: 4rem;
  height: 3rem;
  padding-right: 0 !important;

  &:hover{
    .navbar-toggler-icon{
      &::before { 
        top: -.8rem; 
      }
    
      &::after { 
        top: .8rem; 
      }
    }
  }
}

.navbar-toggler{
  @include translateX(1rem);

  &.custom-collapse{

    .navbar-toggler-icon{
        background-color: transparent;

        &::before {
          top: 0;
          @include rotateXY(135deg);
        }
    
        &::after {
          width: 2.5rem;
          top: 0;
          @include rotateXY(-135deg);
        }
    }
    
  }
}

.form-control, .form-control:focus{
  font-family: 'Cutive', serif !important;
  background-color: #222222;
  color: #dddddd;
  margin-top: 2px;
  border-radius: 0;
  border: 0;
}

.form-control:focus{
  box-shadow: none;
  border-bottom: 1px solid $color-primary;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus{
  background-color: #222222 !important;
  color: #dddddd !important;
  box-shadow:0 0 0 50px #222222 inset !important;
  -webkit-box-shadow:0 0 0 50px #222222 inset !important;
  -webkit-text-fill-color: #dddddd !important;
}

.progress{
  height: 2.25rem;
  border-radius: 0;
  background-color: #cccccc;
  @include transition(1s all ease-in-out);

  .progress-bar{
    background-color: rgba($color-secondary, 0.8);
    @include transition(1s all ease-in-out);
  }
}

::-webkit-scrollbar{
  width: 0;
}

#wrapper{
  cursor: none;
  background: black;
}

.cursor{
  position: absolute;
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  z-index: 1001;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: scale(0.8);
  mix-blend-mode: difference;
  z-index: 2000
}

.view{
  &::before{
    content: "VIEW";
    font-size: 0.5rem;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    opacity: 0;
    z-index: 2001;
  }

  &.active{
    opacity: 1;
    transform: scale(3.5);

    &::before{
      opacity: 1;
    }
  }
}

.click{
  &::before{
    content: "CLICK";
    font-family: 'Ubuntu';
    font-size: 0.4rem;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    opacity: 0;
    z-index: 2001;
  }

  &.active{
    opacity: 1;
    transform: scale(2.5);

    &::before{
      opacity: 1;
    }
  }
}
