@import './components/util/css/variables.scss';
@import './components/util/css/mixins/transition';

// import Boostrap and custom it
// change the theme
$theme-colors: (
  "primary": $color-primary,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
//end Bootstrap

body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.navbar-toggler-icon{
  background-image: none !important;
  position: relative;
  width: 2rem;

  &,
  &::before,
  &::after {
    height: 2px;
    background-color: $color-primary;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    transition: all .2s;
  }

  &::before { 
    top: -.6rem; 
    width: 2.5rem;
    transition: 0.5s all;
  }

  &::after { 
    top: .6rem; 
    width: 1.5rem;
    transition: 0.5s all;
  }
}

.navbar-toggler{
  width: 4rem;
  height: 3rem;
  padding-right: 0 !important;

  &:hover{
    .navbar-toggler-icon{
      &::before { 
        top: -.8rem; 
      }
    
      &::after { 
        top: .8rem; 
      }
    }
  }
}

.navbar-toggler{
  &.custom-collapse{

    .navbar-toggler-icon{
        background-color: transparent;

        &::before {
          top: 0;
          @include rotateXY(135deg);
        }
    
        &::after {
          width: 2.5rem;
          top: 0;
          @include rotateXY(-135deg);
        }
    }
    
  }
}

.form-control, .form-control:focus{
  font-family: 'Cutive', serif !important;
  background-color: #222222;
  color: #dddddd;
  margin-top: 2px;
  border-radius: 0;
  border: 0;
  @include transition(0.75s all);
}

.form-control:focus{
  box-shadow: none;
  border-bottom: 1px solid $color-primary;
}