@import '../../util//css/mixins/respond';

.Skills{
    padding-top: 5rem;
    padding-bottom: 3rem;

    .Container{
        margin-top: 3rem;
    }

    .Left{
        margin-bottom: 1rem;
    }

    .Right{      
        position: relative;  
        @include respond('tab-land'){
            height: 500px;
        }

        &::before{
            position: absolute;
            content: "";
            display: inline-block;
            left: 0;
            bottom: 0;
            width: 4rem;
            height: 2rem;
            background-color: #F5F5F5;
            z-index: 10;
        }
    }
}