@import '../../util/css/variables.scss';

.Container{
    height: 100%;
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 0 3px 4px rgba(black,.3);

    .Name{
        width: 7rem;
        background-color: $color-primary;
        color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Progress{
        flex-grow: 1;
        position: relative;

        .Label{
            position: absolute;
            right: 0.5rem;
            top: 5px;
            color: $color-secondary;
        }
    }
}