@import '../../util//css/mixins/respond';

.Skills{
    padding-top: 5rem;

    .Container{
        position: relative;
        margin-top: 3rem;
    }

    .Left{
        height: 100vh;
        background-color: red;

        @include respond('tab-land'){
            z-index: 10;
            background-color: transparent;
        }
    }

    .Right{        
        @include respond('tab-land'){
            position: absolute;
            height: 100%;

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: rgba(#F5F5F5, 0.8);
                
            }
        }
    }
}