@import '../../util//css/mixins/respond';

.Skills{
    padding-top: 5rem;
    padding-bottom: 3rem;

    .Container{
        margin-top: 3rem;
    }

    .Left{
        margin-bottom: 1rem;
    }

    .Right{        
        @include respond('tab-land'){
            height: 500px;
        }
    }
}